<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Medecins</title>
</head>

<body>
	<div>
		<div th:replace="template">
		</div>
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">
					Liste des Medecins
				</div>
				<div class="card-body">

					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Nom Medecin</th>
							<th>Salaire</th>
							<th>Date de Naissance</th>
							<th>Specialite</th>
						</tr>
						<tr th:each="m:${Medecins.content}">
							<td th:text="${m.idMedecin}"></td>
							<td th:text="${m.nomMedecin}"></td>
							<td th:text="${m.Salaire}"></td>
							<td th:text="${m.datenaissance}"></td>
							<td th:if="${!#strings.isEmpty(m.Specialite)}" th:text="${m.Specialite.nomSpc}"></td>
							<td th:if="${#strings.isEmpty(m.Specialite)}" th:text="${'Pas de Specialite'}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success"
									th:href="@{modifierMedecin(id=${m.idMedecin},page=${currentPage})}">Editer</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
									onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerMedecin(id=${m.idMedecin}, 
page=${currentPage},size=${size})}">Supprimer</a></td>

						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}">
							<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
								th:href="@{listeMedecins(page=${status.index}, size=${size} ) }"
								th:text="${status.index }"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
